## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [5]:
import pandas as pd
import numpy as np

In [10]:
data = {'國家': ['Taiwan', 'China', 'Canada', 'Japan', 'Australia'],
        '人口': np.random.randint(0, 1000000, 5)}
data = pd.DataFrame(data)

In [11]:
print(data)

          國家      人口
0     Taiwan  729962
1      China  173303
2     Canada  999166
3      Japan   82890
4  Australia   16147

In [12]:
data.sort_values(by = ['人口'])

          國家      人口
4  Australia   16147
3      Japan   82890
1      China  173303
0     Taiwan  729962
2     Canada  999166

In [14]:
data.sort_values(by = ['人口']).tail(1)

       國家      人口
2  Canada  999166

In [18]:
data.sort_values(by = ['人口'], ascending = False).head(1)

       國家      人口
2  Canada  999166